<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/testfmt/src/reflection/CrossRef.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="reflection.CrossRef"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="D:\software\Comm.jar&#13;&#10;D:\software\apache-tomcat-7.0.53-windows-x64\apache-tomcat-7.0.53\lib\servlet-api.jar"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="testfmt"/>
</launchConfiguration>
